<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inverter Texto</title>
  <style>
    h1 {
      color: #007bff;
    }

    .button {
      padding: 10px 20px;
      margin: 5px;
      color: white;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none; /* Remove o sublinhado do link */
      display: inline-block;
    }

    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Inverter Texto</h1>
  <form action="/inverter-texto" method="get">
    <label for="texto">Digite o texto</label><br>
    <input type="text" id="texto" name="texto" value="{{texto}}" required>
    <button type="submit">Inverter</button>
  </form>

  {{#textoInvertido}}
  <p>Texto Invertido: <strong>{{textoInvertido}} </strong></p>
  {{/textoInvertido}}

  <br>

  <button class="button" onclick="window.location.href='/'">Voltar à Página Inicial</button>
</body>
</html>
